@charset "utf-8";
/*
ARROW CSS
Date: 28/12/2015
Author: Wizard Digital Agency| Front-End Developer: Arthur Jones
Author URL: http://www.wizard.com.tr
*/

/*------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* CSSMap */
/* 1. Extra Fonts */
/* 2. General Styles */
/* 3. Responsive Styles */

/*------------------------------------------------------------------------------------------------------------------------------------------------------*/



/*------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* 1. Extra Fonts */
/*------------------------------------------------------------------------------------------------------------------------------------------------------*/



/*------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* 2. General Styles */
/*------------------------------------------------------------------------------------------------------------------------------------------------------*/

#heart-container {
    margin: 0 auto;
    width: 40px;
}

    #heart-container::before,#heart-container::after {
        transition: .3s ease;
        -webkit-transition: .3s ease;
        -moz-transition: .3s ease;
        -o-transition: .3s ease;
        background-color: red;
        width: 20px;
        height: 34px;
        display: inline-block;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        content:'';
        animation-timing-function:linear;
        animation-duration:1s;
        animation-iteration-count:infinite;
        
    }

        #heart-container::before {
            transform: rotate(-45deg);
            animation-name:beating2;
        }

        #heart-container::after {
            transform: rotate(45deg);
            position: relative;
            right: 9px;
            animation-name:beating;
        }
@keyframes beating {
    0% {
        transform: scale(1) rotate(45deg);
    }
    15% {
        transform: scale(1.1) rotate(45deg);
    } 
    25% {
        transform: scale(1.15) rotate(45deg);
    }
    50% {
        transform: scale(1.1) rotate(45deg);
    }
    75% {
        transform: scale(1.0) rotate(45deg);
    }
}
@keyframes beating2 {
    0% {
       transform: scale(1) rotate(-45deg);
    }
    15%{
       transform: scale(1.1) rotate(-45deg);
    } 
    25%{
       transform: scale(1.15) rotate(-45deg);
    }
    50%{
       transform: scale(1.1) rotate(-45deg);
    }
    75% {
       transform: scale(1.0) rotate(-45deg);
    }

}