@charset "utf-8";
/*
ARROW CSS
Date: 28/12/2015
Author: Wizard Digital Agency| Front-End Developer: Arthur Jones
Author URL: http://www.wizard.com.tr
*/

/*------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* CSSMap */
/* 1. Extra Fonts */
/* 2. General Styles */
/* 3. Responsive Styles */

/*------------------------------------------------------------------------------------------------------------------------------------------------------*/



/*------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* 1. Extra Fonts */
/*------------------------------------------------------------------------------------------------------------------------------------------------------*/



/*------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* 2. General Styles */
/*------------------------------------------------------------------------------------------------------------------------------------------------------*/

.arrow {
    width:0;
    height:0;
    margin:0 auto;
    display:inline-block;

}
.arrow.a-r {
    border-left:50px solid green;
    border-bottom:50px solid transparent;
    border-top:50px solid transparent;
}
.arrow.a-l {
    border-right:50px solid green;
    border-bottom:50px solid transparent;
    border-top:50px solid transparent;
}
.arrow.a-u {
    border-bottom:50px solid green;
    border-right:50px solid transparent;
    border-left:50px solid transparent;
}
.arrow.a-d {
    border-top:50px solid green;
    border-right:50px solid transparent;
    border-left:50px solid transparent;
}